*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Roberto, Arial, Helvetica, sans-serif;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #1F2937;
}

.inner_header{
    width: 80%;
    height: 100%;
    display: flex;
    margin: 0 auto;

    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inner_header span {
    align-self: center;
}

.site_name{
    flex-grow: 3;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.nav_bar{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
}

