*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Roberto, Arial, Helvetica, sans-serif;
}

.header{
    width: 100%;
    height: 40px;
    display: block;
    background-color: #1F2937;
}

.inner_header{
    width: 80%;
    height: 100%;
    display: flex;
    margin: 0 auto;

    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inner_header span {
    align-self: flex-end;
}

.site_name{
    flex-grow: 3;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.nav_bar{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
}

.content_block_one{
    width: 100%;
    height: 400px;
    display: flex;
    background-color: #1F2937;
}

.inner_content_block_one{
    width: 80%;
    height: 60%;
    align-self: center;
    display: flex;
    margin: 0 auto;
}

.cb1_about{
    height: 100%;
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.cb1_about div{
    padding-right: 10%;
}

.cb1_title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    line-height: 50px;
}

.cb1_subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.cb1_button{
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    padding: 8px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: bold;
}

.cb1_image{
    height: 100%;
    flex: 0 0 50%;
    background-color: #3a485c;
}