*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Roberto, Arial, Helvetica, sans-serif;
}

.header{
    width: 100%;
    height: 50px;
    display: block;
    background-color: #1F2937;
}

.inner_header{
    width: 80%;
    height: 100%;
    display: flex;
    margin: 0 auto;

    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inner_header span {
    align-self: flex-end;
}

.site_name{
    flex-grow: 3;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.nav_bar{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
}

.content_block_one{
    width: 100%;
    height: 400px;
    display: flex;
    background-color: #1F2937;
}

.inner_content_block_one{
    width: 80%;
    height: 60%;
    align-self: center;
    display: flex;
    margin: 0 auto;
}

.cb1_about{
    height: 100%;
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.cb1_about div{
    padding-right: 10%;
}

.cb1_title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    line-height: 50px;
}

.cb1_subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.cb1_button{
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    padding: 8px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: bold;
}

.cb1_image{
    height: 100%;
    flex: 0 0 50%;
    background-color: #3a485c;
}

.content_block_two{
    width: 100%;
    height: 440px;
    display: flex;
    background-color: white;
}

.inner_content_block_two{
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.cb2_title{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 26px;
    margin-bottom: 24px;
}

.cb2_info{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.cb2_info_image{
    height: 175px;
    width: 175px;
    border: 2px solid #3882f6;
    border-radius: 25px;
}

.cb2_info_text{
    width: 175px;
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.content_block_three{
    width: 100%;
    height: 400px;
    display: block;
    background-color: #e5e7eb;
}

.inner_content_block_three{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.inner_content_block_three div{
    color: #1F2937;
}

.cb3_quote{
    align-self: flex-start;
    text-align: left;
    font-size: 36px;
    font-style: italic;
}

.cb3_author{
    text-align: right;
    font-size: 25px;
    font-weight: bold;
}

.content_block_four{
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.inner_content_block_four{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    border-radius: 18px;
    background-color: #3882f6;
}

.cb4_margin{
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.cb4_text{
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.cb4_title{
    font-size: 24px;
    font-weight: bold;
}

.cb4_subtext{
    font-size: 18px;
}

.cb4_button_margin{
    align-self: center;
    justify-self: right;

}

.cb4_button{
    background-color: #3882f6;
    border-radius: 8px;
    border: 2px solid #e5e7eb;
    width: 200px;
    padding: 8px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: bold;
}

.content_block_five{
    background-color: #1F2937;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e5e7eb;
}

.cb5_text{
    font-size: 18px;
    text-align: center;
}
